.topo {
	margin-top: 30px;
}

.form1 {
	border-radius: 17px;
	border: none!important;
	box-shadow: 2px 2px 1px 1px #615e5e;
	text-align: center;
	background-color: #cb9de1;
	color: #3f1158 !important;
    margin: 0; 
}

.botao{
    background-color:  #3f1158 !important;
    color:#f3e7f5!important;
    font-weight: "bold";
    width: 30px ;
    height: 30px;
}

.alinhar {
    justify-content: center !important;
   
}

.back2{
	padding: 110px;
}

.botoes{
    color: rgb(9, 0, 12);
}
