.cursor{
    cursor: pointer;
    color: white !important;
}

.text-decorator-none {
    text-decoration: none;
}

.barra{
    background-color: #3f1158 !important;
    color: #FFF268!important;
}

.menu{
    display: flex !important;
    flex-direction: row !important;
    justify-content: end !important;
    
}


/*
#b9eb90;
#3f1158 
#E4AFFF;
#FFF268
*/