.text-decorator-none {
    text-decoration: none;
}

/*CSS BACK e cards*/
.backTema {
	background-color: #E4AFFF !important;
	background-image: url(https://static.vecteezy.com/system/resources/previews/003/588/032/original/pastel-ombre-background-in-pink-and-purple-vector.jpg);
	background-repeat: no-repeat;
	width: 100%;
	min-height: 100vh;	
	background-size: cover;
}

.listaTemas
{
  display: flex;
  flex-flow: row wrap;
  word-wrap: break-word;
  align-self: auto;
  justify-content: center;
  border-radius: 13px !important;
  box-shadow: 1px 3px 7px 1px #615865;
}


/*CSS do Loader*/

.loader-content {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    margin-top: -10vw;
    margin-left: -6.1vw;
  }
  
  .loader {
    width: 48px;
    height: 48px;
    background: #bc34a3b3;
    display: inline-block;
    border-radius: 50%;
    box-sizing: border-box;
    animation: animloader 1s ease-in infinite;
    
  
  }
  
  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
  
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }