.topo {
	margin-top: 20px;
}

.form3 {
	border-radius: 17px;
	border: none!important;
	box-shadow: 3px 3px 5px 1px #615e5e;
	padding: 40px;
	background-color: #ba80d7;
	color: #3f1158 !important;
	margin: 200px 320px 100px 320px;
}

.back3 {
	background-color: #E4AFFF !important;
	background-image: url(https://i.imgur.com/VeaPFh7.png);
	background-repeat: no-repeat;
	width: 100%;
	min-height: 100vh;
	background-size: cover;
}

#descricao {
	background: #E4AFFF;
	border-radius: 9px;
	padding: 17px;
	margin: 7px;
	box-shadow: 0 1px 7px #E4AFFF;
	backdrop-filter: blur(11.8px);
	-webkit-backdrop-filter: blur(11.8px);
	border: 1px solid rgba(255, 255, 255, 0.155);
}

/*css botao*/
.box3 {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}

.botaoF {
	background-color: #3f1158 !important;
	width: 180px;
	height: 38px;
	color: #b9eb90 !important;
	font-size: 18px !important;
	letter-spacing: 2px !important;
}